* { padding: 0; margin: 0; box-sizing: border-box;font-family: 'Poppins', sans-serif;
}
body { background: url(bg.jpg) no-repeat center center; min-height: 100vh; background-size: cover; display: flex; flex-direction: column;  align-items: center; padding-top: 100px;;}

.countdown-container{ display: flex; justify-content: space-around; text-align: center;}

.big-text { font-size: 6rem; line-height: 1; margin: 0 2rem;}
.countdown-el span{ font-size:1.5rem; color:#E44D26; text-transform: uppercase; font-weight: 600;text-shadow: -2px 1px 12px white;}